@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Account is geblokkeerd";
}
@section navbar{
    
}
<hgroup>
    <h1>@Page.Title.</h1>
    <h2>Je account is geblokkeerd doordat je te veel inlogpogingen hebt gedaan</h2>
</hgroup>

<p>
    Je account wordt binnen 60 seconden weer vrijgegeven.
</p>