@{
    //standaard layout voor begin
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.title</title>
        <script src="~/Content/js/jquery.js"></script>
        <script src="~/Content/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/css/StyleSheet.css"/>
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css"/>
    </head>
    <body>
          <div id="header">
            <div id="navbar">
                @RenderSection("navbar")
            </div>
          </div>
          <div id="pagina">
              @RenderBody()
          </div>
          <div id="footer">
            <p id="disclaimer">In opdracht van <a id="nhl" href="http://nhl.nl/nhl" target="_blank">NHL hogeschool</a> &copy; @DateTime.Now.Year</p>    
        </div>
    </body>
</html>
