body{
   background-color: #e1e8f0;
   padding:0;
   height:100%;
}
td{
    padding-right: 10px;
}
#agendanav{
    margin-top: -5px;
    margin-bottom: -5px;
}

.picturediv { 
    position: relative; 
    height: 235px; 
    width: 188px;    
}
.picturediv img { 
    position: absolute; 
    right: 0; 
    bottom: 0; 
    min-height: 100%;
    max-height: 235px;
}
.picturedivstu { 
    position: relative; 
    height: 125px; 
    width: 80px;    
}
.picturedivstu img { 
    position: absolute; 
    right: 0; 
    bottom: 0;
    max-height: 125px;
    max-height: 125px;
}

.picturedivslb { 
    position: relative; 
    height: 32px; 
    width: 28px;    
}
.picturedivslb img { 
    position: absolute; 
    right: 0; 
    bottom: 0;
    max-width: 28px;
    max-height: 32px;
}

.pager li > .ui-datepicker-trigger:hover,
.pager li > .ui-datepicker-trigger:focus {
  text-decoration: none;
  background-color: #eee;
}
.ui-datepicker-trigger{
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  color: #337ab7;
}
.picture {
    border: 1px solid black;
    //margin-top: 2px;
    //overflow: hidden;
}
.jumbotron h1{
    text-align: left;
}

.jumbotron hr{
    border-top: 1px solid #C5C4C4;
}
.hideable{
    display: none;
    //visibility: hidden;
}

html{
    height: 100%;
}
#header{
   position: relative;
   background-color: CadetBlue;
   border-radius: 10px;
   width: auto;
   height: 60px;
   border: 1px solid black;
}
#gebpanel{
    margin-bottom: -20px;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9d9d9d;
}
h1{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#agenda{
    display: inline-block;
    position: relative;
    float: left;
    width: 198px;
    height: 58px;
    text-align: center;
    background-color: #90eced;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#account{
    display: inline-block;
    position: relative;
    float: left;
    width: 198px;
    height: 58px;
    text-align: center;
    background-color: #90eced;
    border-right: 1px solid black;
}
#login{
    display: inline-block;
    position: relative;
    width: 198px;
    height: 58px;
    text-align: center;
    background-color: #90eced;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#logout{
    display: inline-block;
    position: relative;
    width: 198px;
    height: 58px;
    text-align: center;
    background-color: #90eced;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#pagina{
    height: auto;
    min-height: 600px;
}
#disclaimer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

#nhl {
    text-decoration: none;
    color: #9d9d9d;
}

#nhl:hover {
    color: white;
}
#welkom{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
@media (max-width: 767px) {
  #loginpopup{
    border-spacing: 10px;
    border-collapse: separate;
    //margin-left: 100px; //hier moet gecentereerd worden, wil alleen niet?
    }
    select{
    width: 150px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  #loginpopup{
    border-spacing: 10px;
    border-collapse: separate;
    //margin-left: 100px; //hier moet gecentereerd worden, wil alleen niet?
    }
    select{
    width: 200px;
}
}

@media (min-width: 992px){
      #loginpopup{
    border-spacing: 10px;
    border-collapse: separate;
    margin-left: 100px; //hier moet gecentereerd worden, wil alleen niet?
    }
}

#footer{
    position: relative;
    margin-top: -60px;
    height: 60px;
    padding-top: 20px;
	background-color: #222;
    border-color: #080808;
    border-radius: 4px;
}
#main{
    padding-bottom: 60px;
}
#wrapper{
min-height: 100%;
}
#makers{
    text-align: center;
}
.img{
    height: 15px;
    width: 15px;
}

.img-zoom {
    width: 32px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.img-zoomstu {
    width: 100px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.img-zoomgeb {
    width: 188px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

 
.transition {
    -webkit-transform: scale(7); 
    -moz-transform: scale(7);
    -o-transform: scale(7);
    transform: scale(7);
}
