body{
   background-color: #e1e8f0;
   padding:0;
   height:100%;
}

.jumbotron h1{
    text-align: left;
}

.jumbotron hr{
    border-top: 1px solid #C5C4C4;
}
.hideable{
    display: none;
    //visibility: hidden;
}

html{
    height: 100%;
}
#header{
   position: relative;
   background-color: CadetBlue;
   border-radius: 10px;
   width: auto;
   height: 60px;
   border: 1px solid black;
}
#gebpanel{
    margin-bottom: -20px;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9d9d9d;
}
h1{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#agenda{
    display: inline-block;
    position: relative;
    float: left;
    width: 198px;
    height: 58px;
    text-align: center;
    background-color: #90eced;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#account{
    display: inline-block;
    position: relative;
    float: left;
    width: 198px;
    height: 58px;
    text-align: center;
    background-color: #90eced;
    border-right: 1px solid black;
}
#login{
    display: inline-block;
    position: relative;
    width: 198px;
    height: 58px;
    text-align: center;
    background-color: #90eced;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#logout{
    display: inline-block;
    position: relative;
    width: 198px;
    height: 58px;
    text-align: center;
    background-color: #90eced;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#pagina{
    height: auto;
    min-height: 600px;
}
#disclaimer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

#nhl {
    text-decoration: none;
    color: #9d9d9d;
}

#nhl:hover {
    color: white;
}
#welkom{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#loginpopup{
    border-spacing: 10px;
    border-collapse: separate;
    margin-left: 100px; //hier moet gecentereerd worden, wil alleen niet?
}

#footer{
    position: relative;
    margin-top: -60px;
    height: 60px;
    padding-top: 20px;
	background-color: #222;
    border-color: #080808;
    border-radius: 4px;
}
#main{
    padding-bottom: 60px;
}
#wrapper{
min-height: 100%;
}
#makers{
    text-align: center;
}
.img{
    height: 15px;
    width: 15px;
}